[Desktop Entry]
Version=1.0
Name=Kios
Comment=This is applications in the Kios
Exec=/home/tit/AI/Qrcode/my-app.sh
Icon=/home/tit/Display/1234.png
Terminal=true
Type=Application
Categories=Utility;Application;

