[Desktop Entry]
Version=1.0
Name=Uploades
Comment=This is my display adv
Exec=/home/tit/Display/upload.sh
Icon=/home/tit/Display/upload.jpeg
Terminal=true
Type=Application
Categories=Utility;Application;

